body {
  background-color: black;
  color: white;
}

p,
h3 {
  margin: 0;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.small-text {
  font-size: small;
}

.medium-text {
  font-size: medium;
}

.card-container {
  margin-top: 1rem;
}

.card {
  border: 1px solid white;
  border-radius: 5px;
  margin: 0px 0px 20px;
  padding: 10px;
  overflow-wrap: break-word;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.timestamp {
  font-size: small;
  color: gray;
}

.question-id {
  font-size: large;
  font-weight: 600;
}

.prompt-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
